body{
    margin: 0px;
    background-color: #F4F9FF;
}

body > * {
    margin: 0px;
    padding: 0px;
}

.header, .projectsContainer{
    background-color: #14191F;
    color: #F4F9FF;
}

.welcomeContainer, .resumeContainer{
    background-color: #F4F9FF;
    color: #14191F;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    padding: .1em .8em;
}

.header > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8em;
}


.navigationLinkContainer{

}

.socialLinkContainer{

}

.socialLinkContainer > a > img {
    height: 2rem;
    width: 2rem;
}

.introductionContainer{

}

.introductionContainer > img {
    width: 100%;
    object-fit: cover;
}

h1{
    margin: 0px;
}