* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    width: calc(100vw - var(--scrollbarWidth));
    background-color: #F4F9FF;
}

body > * {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.header, .introductionContainer{
    background-color: #14191F;
    color: #F4F9FF;
}

.projectsContainer, .resumeContainer{
    background-color: #F4F9FF;
    color: #14191F;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3.6em;
    padding: .1em .8em;
    position: sticky;
    top: 0;
    z-index: 9;
}

.header > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8em;
}


.navigationLinkContainer{

}

.socialLinkContainer{

}

.socialLinkContainer > a > img {
    height: 2rem;
    width: 2rem;
}

.introductionContainer{
}

.heroImageContainer{
    background-image: url("./img/antihero.jpg");
    width: calc(100vw - var(--scrollbarWidth));
    height: 74vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.heroImageMask{
    position: absolute;
    inset: 0;
    -webkit-mask: url("https://i.imgur.com/CIFTGQw.png");
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
   
    mask: url("https://i.imgur.com/CIFTGQw.png");
    mask-position: center;
    mask-size: cover;
}

.nameText{
    text-align: center;
    font-size: clamp(4rem, 10vw + .05rem, 9rem);
    font-weight: 900;
    position: fixed;
    padding: 1rem;
    width: 100%;
    color: #14191F;
}

.projectCardContainer{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4%;
    gap: 1%;
    width: 100%;
}

.projectCard{
    cursor: pointer;
    aspect-ratio: 1;
    min-width: 320px;
    width: 24%;
    margin: 1%;
}

.projectCard--expanded{
    cursor: default;
}

.projectCard__content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1em;
    border-radius: 5px;
    color: #F4F9FF;
    background: #14191F;
}

.projectCard--expanded .projectCard__content{
    position: fixed;
    z-index: 10;
    top:0;
    right:0;
    border-radius: 0;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
}

.projectCard__preview {
    border-radius: 5px;
    width: 256px;
    height: 240px;
    object-fit:cover;
    transform-origin: 0 0;
}

.projectCard--expanded .projectCard__preview{
    width: 256px;
    header: 256px;
    border-radius: 5px;
}

.projectCard__title {
  font-size: 20px;
  font-weight: bold;
  transform-origin: 0 0;
  line-height: 1;
}

.projectCard--expanded .projectCard__title {
  font-size: 30px;
}


.projectCard__userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.projectCard--expanded .projectCard__userInfo {
  align-items: flex-start;
}

.projectCard__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    gap: 10px 14px;
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.projectCard__header > * {

}

.projectCard--expanded .projectCard__header{
    flex-direction: row;
}

.projectCard__close {
    position: absolute;
    right: 0;
    transform: translate(100%, 0);
    top: 0;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    background: none;
    border: none;
    width: 44px;
    height: 44px;
    color: white;
    padding: 10px;
}

.projectCard--expanded .projectCard__close{
    transition: all 0.3s ease 0.3s;
    opacity: 1;
    pointer-events: all;
    transform: translate(0,0); 
}

.projectCard__body{
    opacity: 0;
    height: 0;
    transform-origin: 0 0;
}

.projectCard--expanded .projectCard__body{
    max-width: 800px;
    margin: 20px auto 0;
    opacity: 1;
    height: auto;
}

.projectCard--animatable .projectCard__preview,
.projectCard--animatable .projectCard__title,
.projectCard--animatable .projectCard__content,
.projectCard--animatable .projectCard__body{
    transition: all 0.5s cubic-bezier(0, 0, 0.21, 1);
}

h1{
    margin: 0px;
}